@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.column-width {
  min-width: 320px;
  width: 320px;
}

.btn {
  @apply w-full p-3 mt-10 bg-indigo-900 rounded-sm font-medium text-white uppercase focus:outline-none hover:bg-indigo-700 hover:shadow-md rounded-lg;
}

.input-text {
  @apply w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50;
}

.content-layout {
  @apply container h-screen bg-gray-100 px-4 py-4 sm:my-auto p-4;
  width: 100%;
  max-width: 100% !important;
}

.sortable-ghost {
  opacity: 0.5;
  background: #a7daef;
}

.sortable-drag {
  opacity: 0.8;
  background: #a7daef;
}
