/* tailwind */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.column-width {
  min-width: 320px;
  width: 320px;
}
/* Unfortunately @apply cannot be setup in codesandbox,
but you'd use "@apply border opacity-50 border-blue-500 bg-gray-200" here */
.sortable-ghost {
  opacity: 0.5;
  /*background: #F7FAFC;*/
  background: #a7daef;
  /*border: 1px solid #4299e1;*/
}

/*.sortable-chosen {*/
/*  opacity: 0.5;*/
/*  background: #F7FAFC;*/
/*  !*border: 1px solid #4299e1;*!*/
/*}*/

.sortable-drag {
  opacity: 0.8;
  background: #a7daef;
}
